In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data_source/apartments.csv')
df.head()

,id,title,source,price,currency,listing_created_on,is_active,last_modified_timestamp
0,5668626895,"Studio apartment 2nd St NE, Uhland Terrace NE,...",RentLingo,790,USD,2024-05-16 06:56:13,1,2024-05-16 06:56:13
1,5664597177,Studio apartment 814 Schutte Road,RentLingo,425,USD,2024-05-16 06:35:35,1,2024-05-16 06:35:35
2,5668626833,"Studio apartment N Scott St, 14th St N, Arling...",RentLingo,1390,USD,2024-05-18 22:58:20,1,2024-05-21 02:47:32
3,5659918074,Studio apartment 1717 12th Ave,RentLingo,925,USD,2024-05-17 16:18:36,0,2024-05-17 16:18:36
4,5668626759,"Studio apartment Washington Blvd, N Cleveland ...",RentLingo,880,USD,2024-05-17 08:47:56,0,2024-05-19 02:36:48