In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data_source/apartment_attributes.csv')
df.head()

,id,category,body,amenities,bathrooms,bedrooms,fee,has_photo,pets_allowed,price_display,price_type,square_feet,address,cityname,state,latitude,longitude
0,5668626895,housing/rent/apartment,"This unit is located at second St NE, Uhland T...","Refrigerator,Stove,Air Conditioning,Laundry",1.0,0.0,NaN,Thumbnail,NaN,$790,Monthly,101,123 Main St,Washington,DC,38.9057,-76.9861
1,5664597177,housing/rent/apartment,"This unit is located at 814 Schutte Road, Evan...","Refrigerator,Stove,Air Conditioning,Laundry",1.0,1.0,NaN,Thumbnail,NaN,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621
2,5668626833,housing/rent/apartment,"This unit is located at N Scott St, 14th St N,...","Refrigerator,Stove,Air Conditioning,Laundry",1.0,0.0,NaN,Thumbnail,NaN,"$1,390",Monthly,107,123 Main St,Arlington,VA,38.8910,-77.0816
3,5659918074,housing/rent/apartment,"This unit is located at 1717 12th Ave, Seattle...","Refrigerator,Stove,Air Conditioning,Laundry",1.0,0.0,NaN,Thumbnail,NaN,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275
4,5668626759,housing/rent/apartment,"This unit is located at Washington Blvd, N Cle...","Refrigerator,Stove,Air Conditioning,Laundry",1.0,0.0,NaN,Thumbnail,NaN,$880,Monthly,125,123 Main St,Arlington,VA,38.8738,-77.1055

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   category       10000 non-null  object
 2   body           10000 non-null  object
 3   amenities      10000 non-null  object
 4   bathrooms      10000 non-null  float64
 5   bedrooms       10000 non-null  float64
 6   fee            0 non-null      float64
 7   has_photo      10000 non-null  object
 8   pets_allowed   5837 non-null   object
 9   price_display  10000 non-null  object
 10  price_type     10000 non-null  object
 11  square_feet    10000 non-null  int64
 12  address        10000 non-null  object
 13  cityname       9923 non-null   object
 14  state          9923 non-null   object
 15  latitude       9990 non-null   float64
 16  longitude      9990 non-null   float64
dtypes: float64(5), int64(2), object(10)
memory usage: 1.3+ MB

In [4]:
df['pets_allowed'].value_counts()

pets_allowed
Cats,Dogs    5228
Cats          485
Dogs          124
Name: count, dtype: int64